body {
    background-image: url(./img/Foto-de-fauxels-no-Pexels-27.png);
}

.definicoes{
    color: rgb(211, 96, 19);
    text-align: center;
}

.definicoes p{
    color: chartreuse;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 600px;
}

